@import "tailwindcss";

:root {
  /* universal color */
  --light-color: #F5F5F5;
  --dark-color: #1A1A1A;
  --white-color: #FFFFFF;

  /* Background colors */
  --bg-color: #FFF8F1;

  /* Text colors */
  --text-color: #424242;
  /* --text-muted: #757575; */

  /* Headings */
  /* --heading-color: #1A1A1A; */
  --heading-color: #222222;

  /* Buttons */
  --button-text-color: #1A1A1A;
  --button-bg-color: #FFB703;
  --button-hover-bg-color: #E09A05;
  
  --button-hover-text-color: #E09A05;
}

@layer utilities {
  .gradient-overlay::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    );
  }
}

/* Text Font */
body {
  font-family: 'Figtree', sans-serif;
}

/* Heading Font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Antic Didone', serif;
}


/* secondary heading 40/48 on mbile 36,32 */
/* subheading heading 36 on mbile 24 */